.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button{
    width: 250px;
    display: block;
    margin: 5px auto;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.button:first-child{
    border-radius: 5px 5px 0px 0px;
}

.button:last-child{
    border-radius: 0px 0px 5px 5px;
}


.mastery{background-color: gold;}
.mastery:hover{background-color: goldenrod;}
.sixstar{background-color: cornflowerblue;}
.sixstar:hover{background-color: royalblue;}
.tier{background-color: mediumseagreen;}
.tier:hover{background-color: seagreen;}
.guide{background-color: coral;}
.guide:hover{background-color: tomato;}
.codex{background-color: hotpink;}
.codex:hover{background-color: deeppink;}

