body {
    margin: 0;
}

.bg {
    background: url("images/bg.png") 0 0 no-repeat;
    position: relative;
    width: 1366px;
    height: 631px;
    margin: 0px auto;

    /* display: flex;
    justify-content: center; */
}

#topContent{
    height: 60px;
}

.topBtn {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    background-color: goldenrod;
    position: relative;
    padding: 5px 15px;
    border: none;
    display: inline-block;
    width: 150px;
    top: 5px;
    text-align: center;
    left: 600px;
}

#championname,
#championname:active {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: transparent;
    color: rgb(247, 190, 46);
    width: 250px;
    position: relative;
    top: 5px;
    left: 500px;
    text-align: center;
    border: none;
    padding: 5px 0px;
}

#loadBuilds {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: white;
    width: 60vw;
    height: 50vh;
    border: 2px solid black;
    z-index: 102;
    opacity: 1;
}

.flexContainer {
    top: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
}

.flexContainer.show {
    visibility: visible;
}

#treeWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    left: 14px;

}

.treeBox {
    width: 357px;
    height: 558px;
    position: relative;
    display: inline-block;
    margin: 0px 6px;
}

.icon {
    position: absolute;
    opacity: 0;
}

.icon.show,
.icon:hover,
.icon.show:hover {
    position: absolute;
    opacity: 1;
}

/* -------------------------------------Tool Tip Start--------------------------------------------- */

#toolTip {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    background-color: rgb(8, 77, 112);
    border: 2px solid goldenrod;
    width: 350px;
    height: auto;
    padding: 0px 20px 10px;
    margin: 0px;
    position: fixed;
}

#toolTip *,
#toolTip {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    visibility: hidden;
}

#toolTip.show,
#toolTip *.show {
    visibility: visible;
}

#masteryName {
    text-transform: uppercase;
    color: rgb(247, 190, 46);
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
}

#smallIcon {
    display: block;
    max-width: 40px;
    height: auto;
    margin: 0px auto;
}

#rankText {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
}

#rankText i {
    font-style: normal;
    -webkit-text-fill-color: goldenrod;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 16px;
}

#masteryDef {
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 13px;
}

.buff {
    color: limegreen;
    font-style: normal;
    font-weight: bold;
}

#unlock {
    color: goldenrod;
    font-size: 14px;
    /* font-weight: bolder; */
    text-align: center;
    margin-top: 10px;
}

#scroll {
    vertical-align: middle;
}

/* -------------------------------------Tool Tip End--------------------------------------------- */

/* Tier 1 */
#icon0 {
    top: 53px;
    left: 104px;
}

#icon1 {
    top: 53px;
    left: 183px;
}

/* Tier 2 */
#icon2 {
    top: 138px;
    left: 25px;
}

#icon3 {
    top: 138px;
    left: 104px;
}

#icon4 {
    top: 138px;
    left: 183px;
}

#icon5 {
    top: 138px;
    left: 263px;
}

/* Tier 3 */
#icon6 {
    top: 223px;
    left: 25px;
}

#icon7 {
    top: 223px;
    left: 104px;
}

#icon8 {
    top: 223px;
    left: 183px;
}

#icon9 {
    top: 223px;
    left: 263px;
}

/* Tier 4 */
#icon10 {
    top: 308px;
    left: 25px;
}

#icon11 {
    top: 308px;
    left: 104px;
}

#icon12 {
    top: 308px;
    left: 183px;
}

#icon13 {
    top: 308px;
    left: 263px;
}

/* Tier 5 */
#icon14 {
    top: 393px;
    left: 25px;
}

#icon15 {
    top: 393px;
    left: 104px;
}

#icon16 {
    top: 393px;
    left: 183px;
}

#icon17 {
    top: 393px;
    left: 263px;
}

/* Tier 6 */
#icon18 {
    top: 478px;
    left: 25px;
}

#icon19 {
    top: 478px;
    left: 104px;
}

#icon20 {
    top: 478px;
    left: 183px;
}

#icon21 {
    top: 478px;
    left: 263px;
}